<nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-expand-lg navbar-dark">
  <div class="container">
    <a href="/ " class="navbar-brand">Loc8r</a>
    <button type="button" data-toggle="collapse" data-target="#navbarMain"
      class="navbar-toggler navbar-toggler-right">
      <span class="navbar-toggler-icon"></span></button>
    <div id="navbarMain" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

          <li [hidden]="auth.loggedIn"><a href="/login/?page={{ this.router.url }}">Log in</a> or 
            <a href="/register/?page={{ this.router.url }}">sign up</a></li>

          <li [hidden]="!auth.loggedIn" class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">Hi, {{ auth.currentUser.username }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" (click)="logout()">Logout</a></li>
            </ul>
          </li>


        </ul>
    </div>


      <!-- <div *ngIf="!auth.loggedIn" class="btn-wrap">
         -->
        <!-- <div class="btn-wrap"></div>
        <div>
          <button  routerLink="/login" routerLinkActive="active" color="accent">
            <i class="fa fa-sign-in"></i> Login
          </button>
        </div>
        <p>or</p>
        <div>
          <button routerLink="/signup" routerLinkActive="active" color="accent">
            <i class="fa fa-user-plus"></i> Signup
          </button>
        </div>-->

      </div> 
   

</nav>
<div class="container">
  <router-outlet></router-outlet>
  <footer>
    <div class="row">
      <div class="col-12"><small>&copy; Simon Holmes 2017</small></div>
    </div>
  </footer>
</div>
