<nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-expand-lg navbar-dark">
  <div class="container">
    <a href="/ " class="navbar-brand">Loc8r</a>
    <button type="button" data-toggle="collapse" data-target="#navbarMain"
      class="navbar-toggler navbar-toggler-right">
      <span class="navbar-toggler-icon"></span></button>
    <div id="navbarMain" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <footer>
    <div class="row">
      <div class="col-12"><small>&copy; Simon Holmes 2017</small></div>
    </div>
  </footer>
</div>
