<div class="card card-primary">
  <div class="card-block"><h4>
    <a href="/location/57a2b839e57a8d8da34db894">
      Island Bliss WiFi Cafe.</a>
      <small>&nbsp;
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </small>
      <span class="badge badge-pill badge-default float-right">1.5km</span>
    </h4>
    <p class="address">
    </p>
    <div class="facilities">
      <span class="badge badge-warning">Sandwiches</span>
      <span class="badge badge-warning">Coffee</span>
      <span class="badge badge-warning">Wifi</span>
      <span class="badge badge-warning">Pie</span>
    </div>
  </div>
</div>