<div class="error">{{ message }}</div>
<div *ngFor="let location of locations" class="card card-primary">
  <div class="card-block">
    <h4>
      <a routerLink="/location/{{location._id}}">
        {{location.name}}
      </a>
      <!-- My first try at making rating-stars was to use a pipe.
      In the details page I switch to the expected solution of using
      a component, but I'm leaving the pipe in for reference.
      Either way works. -->
      <div [innerHTML]="location.rating | ratingStars"></div>
      <span class="badge badge-pill badge-default float-right">
        {{ location.distance | distance }}
      </span>
    </h4>
    <p class="address">
      {{location.address}}
    </p>
    <div class="facilities">
      <span *ngFor="let facility of location.facilities" class="badge badge-warning">
        {{facility}}
      </span>
    </div>
  </div>
</div>
