extends layout
block content
  .row.banner
    .col-12   
    h1= title
  .row
    .col-12.col-lg-8
      p
        | Loc8r was created to help people find places to sit down and get a bit of work done.
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fermentum enim vitae risus sagittis hendrerit. Aenean efficitur iaculis pharetra. Fusce urna odio, ullamcorper non mi at, luctus scelerisque sapien. Curabitur ut lectus dolor. Aenean neque tortor, tincidunt ac accumsan ornare, hendrerit nec ex. Duis ultricies mauris sed placerat gravida. Nullam lobortis dolor dictum enim ornare tempor. Mauris accumsan libero et arcu consequat, sollicitudin semper ante egestas. Sed eget aliquam turpis, non faucibus ex. Praesent iaculis leo ex, sed pharetra felis feugiat vitae. In vitae diam lectus. Integer libero lectus, gravida quis erat vitae, rhoncus lacinia nulla. Donec ut sodales lorem. Phasellus vestibulum imperdiet neque eu consectetur.
        | <br /><br />
        | What's he building in there? What the hell is he building In there? He has subscriptions to those Magazines He never Waves when he goes by He's hiding something from The rest of us He's all To himself I think I know why He took down the Tire swing from the Peppertree He has no children of his Own you see He has no dog And he has no friends and His lawn is dying and What about all those packages He sends. What's he building in there? With that hook light On the stairs. What's he building In there I'll tell you one thing He's not building a playhouse for The children what's he building In there?  Now what's that sound From under the door? He's pounding nails into a Hardwood floor and I Swear to god I heard someone Moaning low and I keep Seeing the blue light of a T.V. show He has a router And a table saw and you Won't believe what Mr. Sticha saw There's poison underneath the sink Of course But there's also Enough formaldehyde to choke A horse What's he building In there. What the hell is he Building in there? I heard he Has an ex-wife in some place Called Mayors Income, Tennessee And he used to have a Consulting business in Indonesia But what is he building in there? What the hell is he building in there?