extends layout

block content
  .row
    .col-md-6.col-sm-12
      h1= title
  .row
    .col-md-6.col-sm-2
      p
        | Loc8r was created to help people find places to sit and work
        | <br /><br />
        | Lorem ipsum dolor sic amet consectetur idipiscing elit. Nunc sed lorem ac nisi dignissim acumsan. 
